* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(0, 0%, 44%);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: auto;
    position: static;
    background: #272727;
    height: 50px;
}

.menu-btn {
    position: fixed;
    top: 4px;
    left: 4px;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    cursor: pointer;
    z-index: 100;
    transition: all .6s ease-in-out;
}

.menu-btn-line {
    width: 30px;
    height: 3px;
    display: block;
    margin: 6px 3px;
    border-radius: 3px;
    border: 2px solid #fff;
    transition: all .6s ease-in-out;
}

.menu-btn-line:nth-child(2) {
    margin-top: 6px;
}

.menu-btn-line:nth-child(3) {
    margin-top: 6px;
}

#line-one.active {
    transform: translateY(10px) rotate(45deg);
    transition: all .6s ease-in-out;
    background-color: #fff;
}

#line-two.active {
    opacity: 0;
    transition: .4s ease;
}

#line-three.active {
    transform: translateY(-10px) rotate(-45deg);
    transition: all .6s ease-in-out;
    background-color: #fff;
}

.menu-hide {
    width: 300px;
    left: -300px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 50px;
    transition: all .6s ease-in-out;
}

li {
    height: 70px;
    list-style-type: none;
    text-align: center;
    line-height: 70px;
    transition: all .5s ease;
}

li:hover {
    background-color: #252525;
    transition: all .5s ease;
}

a {
    padding: 30px 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}

.menu-hide.show {
    left: 0px;
    background-color: rgba(255,255,255,0.2);
    transition: all .6s ease-in-out;
}